@model IEnumerable<CookingPlan.Models.Plan>

@{
    ViewData["Title"] = "Plan List";
}

<h2 class="text-center">All Your Cooking Plan Lists</h2>
<br />
<div id="today" class="list card">
    <div class="list-header">
        <h4>今日の料理プラン</h4>
    </div>
    <hr />
    <div class="list-body card-body">
        @for (int timeId = 0; timeId < ViewBag.Time.Length; timeId += 1)
        {
            <h5 style="margin-bottom: 5px;">
                <u>@ViewBag.Time[timeId]</u>
            </h5>
            <div class="list list-detail">
                <table class="table">
                    @foreach (var item in Model.Where(p => p.Time == timeId + 1).Where(p => p.Date == DateTime.Today))
                    {
                        <tr>
                            <td>
                                <a asp-controller="Meals" asp-action="Details" asp-route-id="@item.MealId">@Html.DisplayFor(modelItem => item.Meal.Name)</a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">変更</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>

<div class="row" style="margin-left: 10%; margin-right: 10%;">
    <div class="col-md-6 text-center">
        <a asp-action="Create" class="btn btn-primary btn-block btn-lg">新しくプランを作成</a>
    </div>
    <div class="col-md-6 text-center">
        <a asp-controller="Itemlists" asp-action="Index" class="btn btn-success btn-block btn-lg">材料リストを見る</a>
    </div>
</div>

<div id="3days" class="list card">
    <div class="list-header">
        <h4>3日間の料理プラン</h4>
    </div>
    <hr />
    <div class="list-body card-body">
        @foreach (var date in new List<DateTime>() { DateTime.Today, DateTime.Today.AddDays(1), DateTime.Today.AddDays(2) })
        {
            <h5 style="margin-bottom: 5px;">
                <u>@date.ToString("yyyy/MM/dd (ddd)")</u>
            </h5>
            <div class="list list-detail">
                <table class="table">
                    @foreach (var item in Model.Where(p => p.Date == date).OrderBy(p => p.Time))
                    {
                        <tr>
                            <td>
                                <a asp-controller="Meals" asp-action="Details" asp-route-id="@item.MealId">@Html.DisplayFor(modelItem => item.Meal.Name)</a>
                            </td>
                            <td>
                                <p>@ViewBag.Time[item.Time - 1]</p>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">変更</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>

<div class="row" style="margin-left: 10%; margin-right: 10%;">
    <div class="col-md-6 text-center">
        <a asp-action="Create" class="btn btn-primary btn-block btn-lg">新しくプランを作成</a>
    </div>
    <div class="col-md-6 text-center">
        <a asp-controller="Itemlists" asp-action="Index" class="btn btn-success btn-block btn-lg">材料リストを見る</a>
    </div>
</div>


<div id="all-plan" class="list card">
    <div class="list-header">
        <h4>今日以降のプラン一覧</h4>
    </div>
    <hr />
    <div class="list-body card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meal.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(p => p.Date >= DateTime.Today))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @ViewBag.Time[item.Time - 1]
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Meal.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">変更</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

