@model IEnumerable<CookingPlan.Models.Plan>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">All Your Cooking Plan Lists</h2>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">プラン作成</a>
</p>

<div id="today" class="list">
    <div class="list list-header">
        <h4>今日の料理プラン</h4>
    </div>
    <hr />
    <div class="list list-body">
        @for (int timeId = 0; timeId < ViewBag.Time.Length; timeId += 1)
        {
            <h5 style="margin-bottom: 5px;">
                <u>@ViewBag.Time[timeId]</u>
            </h5>
            <div class="list list-detail">
                <table class="table">
                    @foreach (var item in Model.Where(p => p.Time == timeId + 1).Where(p => p.Date == DateTime.Today))
                    {
                        <tr>
                            <td>
                                <a asp-controller="Meals" asp-action="Details" asp-route-id="@item.MealId">@Html.DisplayFor(modelItem => item.Meal.Name)</a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">変更</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
</div>



<div id="all-plan">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @ViewBag.Time[item.Time - 1]
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">変更</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>