@model CookingPlan.Models.Meal

@{
    ViewData["Title"] = "Details";
}

<h2>料理詳細</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="detail">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="detail">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="detail">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="detail">
            <a href = "@Html.DisplayFor(model => model.Url)" target="_blank">味の素パークでレシピを見る</a>
        </dd>
    </dl>
    <hr />
    <h5>材料一覧</h5>
    <ul>
        @foreach (var ingredient in Model.Ingredients)
        {
            <li>
                <p>@ingredient.Food : @ingredient.Num</p>
            </li>
        }
    </ul>
</div>
